.mapboxgl-popup {
  width: 90%;
  max-width: 350px !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #0a1929;
}

.mapboxgl-popup-content {
  background: transparent;
  border-radius: unset;
  box-shadow: unset;
  padding: unset;
  width: fit-content;
  max-width: 100%;
}

.mapboxgl-ctrl-top-left {
  width: calc(100% - 20px);
}

.filter {
  position: absolute;
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 70px;
}

.legend-dot-joined {
  height: 17px;
  width: 17px;
  background-color: #fd6363;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
  border: 1px solid white;
}

.legend-dot-unjoined {
  height: 17px;
  width: 17px;
  background-color: #11b4da;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
  border: 1px solid white;
}

.legend-text,
.legend-dot-joined,
.legend-dot-unjoined {
  line-height: 17px;
  vertical-align: middle;
}

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    width: 360px;
    font-size: 15px;
    line-height: 20px;
    max-width: 360px;
  }

  .filter {
    position: absolute;
    display: flex;
    width: 360px;
    padding-left: 0;
    padding-right: 0;
    left: 10px;
    margin-top: 55px;
  }
}