.mapboxgl-popup {
  width: 90%;
  max-width: 350px !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #0a1929;
}

.mapboxgl-popup-content {
  background: transparent;
  border-radius: unset;
  box-shadow: unset;
  padding: unset;
  width: fit-content;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-ctrl-top-left {
  width: calc(100% - 20px);
}

.filter {
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 10;
  top: 10px;
  right: 10px;
  padding: 12px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
}

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    width: 360px;
    font-size: 15px;
    line-height: 20px;
    max-width: 360px;
  }

  .filter {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    z-index: 10;
    top: 10px;
    left: 325px;
    padding: 12px;
    position: absolute;
    background-color: white;
    border-radius: 4px;
  }
}
